body 
{
    background-color:#f5f5dc;
    font-family: courier;
    color:rgb(99, 173, 69);
}
nav{
    background-color: rgb(219, 235, 221);
   /* text-align: center;*/
}
  nav > h3 , ul {
 text-align: center;
 font-size: 1.5em;
}
 aside 
 {
    background-color: rgb(219, 235, 221);
    font-size: 1.5em;
 }

 a 
{
   text-decoration: none;
   color: rgb(207, 103, 103);
   
}
a:visited
{
    color:rgb(69, 77, 59)
}
a:hover 
{
    color:lightskyblue
}
section
{
    border: 5px solid rgb(228, 162, 39)
}
section >h1
{
    box-shadow:4px 4px 8px rgb(21, 156, 93) ;
} 
h1{
    font-size: 2em;
    text-shadow: 2px 2px 2px rgb(235, 105, 105);
}
p{
    font-size: 25px;
    text-align: justify;
}
main{
    background-color:rgb(18, 247, 208);
    width:90%;
    margin:auto;
}
li
{
    list-style: none;
}
h3{
    color: tan;
}
.h_tag
{
    text-shadow:2px 2px 2px  rgb(230, 44, 174);
}
#h_tagg
{
    text-shadow: 2px 2px 2px  rgb(219, 120, 28); ;
}
#h_taga3
{
font-size:1.5em;
color:coral;
text-align: center;
}
/*aside>ul 
{
    font-size: 1.5em;
}